---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <div class="social">
    <br />
    Did you find this post helpful? If so, please consider taking a moment to share it on your social network of choice (I'm particularly fond of Twitter). If you'd like to be the first to know when I've published something new, you can follow me at <a href="https://twitter.com/davidcpell">@davidcpell</a>!
  </div>

  {% include comments.html %}
</article>
